<div class="main-content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <h2>Assignment</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">
                            <!--                          <a href="javascript:void(0)" class="btn    btn-round">Make Assignment</a>-->
                            <a routerLink="/assignment" class="btn btn-success btn-round">Summary</a>
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h2>Developers</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <!--                          <a href="javascript:void(0)" class="btn btn-success btn-round">New Developer</a>-->
                            <a routerLink="/developer" class="btn btn-success btn-round">Developers List </a>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h2>Bugs</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">
                            <!--                          <a href="javascript:void(0)" class="btn btn-success btn-round">New Bug </a>-->
                            <a routerLink="/bug" class="btn btn-success btn-round">Bugs List </a>
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <h2>Stories</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">
                            <!--                          <a href="javascript:void(0)" class="btn btn-success btn-round">New Story</a>-->
                            <a routerLink="story" class="btn btn-success  btn-round">Stories List</a>
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
