<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">
                            <div class="row">
                                <div class="col-md-6">
                                    Assignment Summary
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                        </h4>
                        <p class="card-category">
                            Here is a summary of assignment</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-list>
                                <mat-list-item *ngFor="let message of data">
                                    <h3 matLine> {{message}} </h3>

                                </mat-list-item>
                            </mat-list>
                            <a class="btn btn-danger">Make Assignment</a>
                            <a class="btn btn-danger">Get Assignment List</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">
                            <div class="row">
                                <div class="col-md-6">
                                    Assignment List
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                        </h4>
                        <p class="card-category">
                            Here is a List of assignment</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <!--                            <mat-list>-->
                            <!--                                <mat-list-item *ngFor="let item of assignment_list | keyvalue">-->
                            <!--                                    <p matLine> {{item.key }}  </p>-->
                            <!--                                    <mat-list-item *ngFor="let key2 of item.value">-->
                            <!--                                        <p matLine>  {{key2.id}} </p>-->

                            <!--                                    </mat-list-item>-->
                            <div *ngFor="let item of assignment_list | keyvalue">
                                <h2> Week Number :  {{item.key}}</h2>
                                <table mat-table [dataSource]="item.value" class="mat-elevation-z8">


                                    <ng-container matColumnDef="story-id">
                                        <th mat-header-cell *matHeaderCellDef> Story Id</th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef> Story Title</th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="developerName">
                                        <th mat-header-cell *matHeaderCellDef> Developer Name</th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.developerId}}
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="point">
                                        <th mat-header-cell *matHeaderCellDef>Story Point</th>
                                        <td mat-cell *matCellDef="let element"> {{element.point}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="creationDate">
                                        <th mat-header-cell *matHeaderCellDef> Creation Date</th>
                                        <td mat-cell *matCellDef="let element"> {{element.creationDate | date}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <!--                                </mat-list-item>-->
                            <!--                            </mat-list>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
